!!!5

%html{ lang: "en" }
  %head
    %title nnnnext
    %link{ rel: "stylesheet", type: "text/css", href: "/css/main.css" }
  %body
    #app
  - @js.each do |path|
    %script{ type: "text/javascript", src: path }

