!!!5

%html{ lang: "en", manifest: "/manifest" }
  %head
    %title nnnnext
    -# %script{ type: "text/javascript", src: "http://aanand.local:8080/target/target-script-min.js#anonymous" }
    %script{ type: "text/javascript" }
      = "Platform = #{platform.inspect};\n"
    %link{ rel: "stylesheet", type: "text/css", href: css_url }
  %body
    #app
  - js_includes.each do |path|
    %script{ type: "text/javascript", src: path }
  - if google_analytics_account
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', #{google_analytics_account.inspect}]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

