!!!5

%html{ lang: "en" }
  %head
    %title nnnnext
  %body
    #app
  %script{ type: "text/javascript" }
    = "CacheBuster = #{cachebuster.inspect};\n"
    = "UserInfo = #{user.to_json};\n"
  - js_includes.each do |path|
    %script{ type: "text/javascript", src: path }

