@charset "UTF-8";
body, input {
  font-family: helvetica;
  color: #444444; }

a {
  color: #5f9410; }

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle; }

input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.8em;
  padding: 5px 4px 3px;
  border: 1px solid #cccccc;
  outline: none; }

button {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  border-bottom-color: #888888;
  border-right-color: #888888;
  color: #444444;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  height: 1.8em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
  background-image: -moz-linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%);
  background-image: linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%); }
  button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#bbbbbb));
    background-image: -moz-linear-gradient(center top, #888888 0%, #bbbbbb 100%);
    background-image: linear-gradient(center top, #888888 0%, #bbbbbb 100%); }

input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc; }

::-webkit-input-placeholder {
  color: #cccccc; }

#app {
  width: 520px;
  margin: 40px auto;
  position: relative; }

.banner {
  position: absolute;
  left: -200px;
  top: -40px;
  width: 115px;
  padding-left: 22.5px;
  padding-right: 42.5px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(/img/banner.png) 0 bottom;
  text-align: center; }
  .banner .title {
    width: 115px;
    height: 275px;
    background: url(/img/title.png); }
  .banner .links {
    margin: 20px -10px 0; }
    .banner .links div {
      display: inline-block; }
      .banner .links div:before {
        content: "• "; }
      .banner .links div:first-child:before {
        display: none; }
    .banner .links a {
      color: #3a5a0a;
      text-decoration: none;
      font-size: 14px;
      font-weight: bold;
      text-shadow: 0px 1px 0px rgba(131, 201, 27, 0.5); }
      .banner .links a:hover {
        color: #d7efb4;
        text-shadow: none;
        cursor: pointer; }

.about-page h2 {
  font-size: 20px; }
.about-page .dismiss {
  position: absolute;
  top: 4px;
  right: 4px;
  color: #3a5a0a; }

.header {
  font-size: 20px;
  height: 30px;
  color: #888888;
  display: block;
  margin-bottom: 8px; }
  .header .sync-controls {
    position: absolute;
    top: 4px;
    right: 4px; }
    .header .sync-controls .button, .header .sync-controls .spinner {
      width: 16px;
      height: 16px; }
    .header .sync-controls .button {
      background: url(/img/sync-button.gif);
      cursor: pointer; }
    .header .sync-controls .spinner {
      background: url(/img/sync-spinner.gif); }

.navigation a {
  display: inline-block;
  color: #888888;
  text-decoration: none; }
  .navigation a.active {
    color: #5f9410; }
  .navigation a:before {
    content: "• "; }
  .navigation a:first-child:before {
    content: ""; }

.hint {
  background: #d7efb4;
  color: #3a5a0a;
  margin-top: 8px;
  padding: 1px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px; }
  .hint .text {
    margin: 7px 12px; }
    .hint .text ul {
      list-style: disc;
      padding-left: 1.5em; }
  .hint .dismiss {
    position: absolute;
    top: 8px;
    right: 8px;
    color: #83c91b; }

.dismiss {
  cursor: pointer;
  border: none;
  background: none;
  width: 18px;
  height: 19px;
  padding: 0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }
  .dismiss:hover {
    background: #5f9410;
    color: #d7efb4; }
  .dismiss:after {
    font-size: 16px;
    content: "✕"; }

.album-search-bar {
  width: 510px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid;
  border-color: #cccccc #aaaaaa #aaaaaa #cccccc;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .album-search-bar input {
    float: left;
    width: 430px;
    height: 40px;
    border: none;
    font-size: 24px;
    padding: 8px; }
  .album-search-bar button {
    float: left;
    width: 80px;
    height: 40px;
    border: none;
    border-left: 1px solid #aaaaaa;
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
  .album-search-bar .spinner {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    margin-top: 4px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/img/spinner.gif); }
  .album-search-bar .cancel {
    position: absolute;
    top: 5px;
    right: 85px;
    display: block;
    width: 30px;
    height: 30px;
    background: url(/img/cancel-search.png);
    cursor: pointer; }

.ui-list, .album-list, .friend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  padding: 0 5px; }

.ui-list-item, .album, .album-search-list .new-album, .friend {
  position: relative; }
  .ui-list-item:after, .album:after, .album-search-list .new-album:after, .friend:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ui-list-item .info, .album .info, .album-search-list .new-album .info, .friend .info {
    padding: 4px;
    border: 1px solid #cccccc;
    border-width: 1px 0 0 0; }
  .ui-list-item:first-child .info, .album:first-child .info, .album-search-list .new-album:first-child .info, .friend:first-child .info {
    border-width: 0; }
  .ui-list-item:focus, .album:focus, .album-search-list .new-album:focus, .friend:focus {
    outline: none; }
    .ui-list-item:focus .info, .album:focus .info, .album-search-list .new-album:focus .info, .friend:focus .info {
      border-left: 3px solid #5f9410;
      margin-left: -3px; }
  .ui-list-item .primary, .album .primary, .album-search-list .new-album .primary, .friend .primary, .ui-list-item .album .info .title, .album .info .ui-list-item .title, .album .info .title, .album-search-list .new-album .album .info .title, .album .info .album-search-list .new-album .title, .friend .album .info .title, .album .info .friend .title, .ui-list-item .friend .info .name, .friend .info .ui-list-item .name, .album .friend .info .name, .friend .info .album .name, .album-search-list .new-album .friend .info .name, .friend .info .album-search-list .new-album .name, .friend .info .name {
    font-size: 18px;
    margin-bottom: 2px; }
    .ui-list-item .primary a, .album .primary a, .album-search-list .new-album .primary a, .friend .primary a, .ui-list-item .album .info .title a, .album .info .ui-list-item .title a, .album .info .title a, .album-search-list .new-album .album .info .title a, .album .info .album-search-list .new-album .title a, .friend .album .info .title a, .album .info .friend .title a, .ui-list-item .friend .info .name a, .friend .info .ui-list-item .name a, .album .friend .info .name a, .friend .info .album .name a, .album-search-list .new-album .friend .info .name a, .friend .info .album-search-list .new-album .name a, .friend .info .name a {
      color: inherit;
      text-decoration: none; }
      .ui-list-item .primary a:hover, .album .primary a:hover, .album-search-list .new-album .primary a:hover, .friend .primary a:hover, .ui-list-item .album .info .title a:hover, .album .info .ui-list-item .title a:hover, .album .info .title a:hover, .album-search-list .new-album .album .info .title a:hover, .album .info .album-search-list .new-album .title a:hover, .friend .album .info .title a:hover, .album .info .friend .title a:hover, .ui-list-item .friend .info .name a:hover, .friend .info .ui-list-item .name a:hover, .album .friend .info .name a:hover, .friend .info .album .name a:hover, .album-search-list .new-album .friend .info .name a:hover, .friend .info .album-search-list .new-album .name a:hover, .friend .info .name a:hover {
        color: #5f9410; }
  .ui-list-item .secondary, .album .secondary, .album-search-list .new-album .secondary, .friend .secondary, .ui-list-item .album .info .artist, .album .info .ui-list-item .artist, .album .info .artist, .album-search-list .new-album .album .info .artist, .album .info .album-search-list .new-album .artist, .friend .album .info .artist, .album .info .friend .artist, .ui-list-item .friend .info .nickname, .friend .info .ui-list-item .nickname, .album .friend .info .nickname, .friend .info .album .nickname, .album-search-list .new-album .friend .info .nickname, .friend .info .album-search-list .new-album .nickname, .friend .info .nickname {
    font-size: 14px;
    color: #888888; }

.nothing-found {
  text-align: center;
  padding-top: 16px;
  color: #888888; }

.album .control, .album .rate, .album .archive, .album .restore, .album .delete, .album .add {
  display: block;
  width: 22px;
  height: 36px;
  color: #cccccc; }
.album.has-rating .info .title {
  margin-right: 130px; }
.album.has-controls {
  margin-right: -80px;
  padding-right: 80px; }
.album .controls .control, .album .controls .rate, .album .controls .archive, .album .controls .restore, .album .controls .delete, .album .controls .add {
  visibility: hidden; }
.album .controls .actions {
  position: absolute;
  top: 10px;
  right: 0;
  width: 70px; }
  .album .controls .actions .control, .album .controls .actions .rate, .album .controls .actions .archive, .album .controls .actions .restore, .album .controls .actions .delete, .album .controls .actions .add {
    display: inline-block;
    margin-right: 6px; }
.album:hover .controls .control, .album:hover .controls .rate, .album:hover .controls .archive, .album:hover .controls .restore, .album:hover .controls .delete, .album:hover .controls .add, .album:focus .controls .control, .album:focus .controls .rate, .album:focus .controls .archive, .album:focus .controls .restore, .album:focus .controls .delete, .album:focus .controls .add {
  visibility: visible; }
.album .rate {
  width: auto !important;
  position: absolute;
  top: 10px;
  right: 90px; }
  .album .rate span {
    font-size: 20px;
    vertical-align: 2px; }
  .album .rate span.rated {
    color: #999999; }
.album .controls .rate span {
  cursor: pointer; }
  .album .controls .rate span.selected {
    color: #ddaa44; }
  .album .controls .rate span.not-selected {
    color: #cccccc; }
.album .archive {
  cursor: pointer; }
  .album .archive:after {
    font-size: 26px;
    content: "✔"; }
  .album .archive:hover:after {
    color: #44aa44; }
.album .restore {
  cursor: pointer; }
  .album .restore:after {
    font-size: 26px;
    content: "↩";
    position: relative;
    top: 2px;
    left: -2px; }
  .album .restore:hover:after {
    color: #44aa44; }
.album .delete {
  cursor: pointer; }
  .album .delete:after {
    font-size: 26px;
    content: "✕"; }
  .album .delete:hover:after {
    color: #aa4444; }
.album .add {
  cursor: pointer; }
  .album .add:after {
    font-size: 26px;
    content: "+";
    position: relative;
    top: -2px; }
  .album .add:hover:after {
    color: #44aa44; }
.album.in-my-list .add {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  cursor: auto; }
  .album.in-my-list .add:hover:after {
    color: #cccccc; }

.album-search-list .album:hover, .album-search-list .album:focus {
  background: rgba(95, 148, 16, 0.2);
  cursor: pointer; }
.album-search-list .new-album label {
  display: block;
  color: #888888;
  font-size: 14px;
  margin: 8px 0; }
.album-search-list .new-album input, .album-search-list .new-album button {
  font-size: 18px; }
.album-search-list .new-album input {
  width: 200px; }
.album-search-list .new-album button {
  margin: 0; }

.friends-albums-list .album[data-state="archived"] .title {
  color: #666666; }
.friends-albums-list .album .control, .friends-albums-list .album .rate, .friends-albums-list .album .archive, .friends-albums-list .album .restore, .friends-albums-list .album .delete, .friends-albums-list .album .add {
  visibility: visible; }

.friend-browser .spinner {
  width: 66px;
  height: 66px;
  margin: 100px auto 0;
  background: url(/img/spinner-big.gif); }

.friend-list .friend:hover, .friend-list .friend:focus {
  background: rgba(95, 148, 16, 0.2);
  cursor: pointer; }

.friend .info {
  padding: 8px 4px; }
.friend .back {
  position: absolute;
  right: 100%;
  font-size: 18px;
  color: #aaaaaa;
  padding-top: 18px;
  cursor: pointer; }
  .friend .back:hover {
    color: #5f9410; }
  .friend .back:after {
    content: "◀"; }
.friend img {
  float: left;
  width: 48px;
  height: 48px;
  margin-right: 8px; }
.friend .info {
  overflow: hidden; }
  .friend .info .name {
    margin-bottom: 4px; }
