@charset "UTF-8";
body, input {
  font-family: helvetica;
  color: #444444; }

#app {
  width: 520px;
  margin: 40px auto;
  position: relative; }

.header {
  font-size: 20px;
  height: 30px;
  color: #cccccc;
  display: block;
  margin-bottom: 8px; }
  .header a {
    color: #888888;
    text-decoration: none; }
    .header a.current {
      color: #aa4444; }
  .header .nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header .nav li {
      display: inline-block; }
      .header .nav li:before {
        content: "• "; }
      .header .nav li:first-child:before {
        content: ""; }
  .header .sync-controls {
    position: absolute;
    top: 4px;
    right: 4px; }
    .header .sync-controls .button, .header .sync-controls .spinner {
      width: 16px;
      height: 16px; }
    .header .sync-controls .button {
      background: url(/img/sync-button.gif);
      cursor: pointer; }
    .header .sync-controls .spinner {
      background: url(/img/sync-spinner.gif); }

.album-search-bar {
  display: inline-block;
  width: 600px;
  margin-bottom: 16px; }
  .album-search-bar input {
    float: left;
    font-size: 24px;
    padding: 8px;
    width: 500px;
    border: 1px solid #cccccc;
    outline: none;
    -webkit-box-shadow: 1px 1px 2px #aaaaaa;
    -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .album-search-bar .spinner {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/img/spinner.gif); }

.album-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  padding: 0 5px; }
  .album-list li {
    padding: 4px;
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0;
    position: relative; }
    .album-list li:focus {
      background: #ddeeff;
      outline: none; }
    .album-list li .title {
      font-size: 18px;
      margin-bottom: 2px; }
    .album-list li .artist {
      font-size: 14px;
      color: #888888; }
    .album-list li .rate, .album-list li .delete {
      display: none;
      position: absolute;
      cursor: pointer;
      color: #dddddd; }
    .album-list li .rate {
      top: 8px;
      right: 48px; }
      .album-list li .rate span:after {
        font-size: 20px;
        content: "★"; }
      .album-list li .rate span.selected:after {
        color: #aa4444; }
      .album-list li .rate span.rated:after {
        color: #aaaaaa; }
      .album-list li .rate:hover span.rated:after {
        color: #dddddd; }
      .album-list li .rate:hover span.selected.rated:after {
        color: #aa4444; }
    .album-list li .delete {
      top: 8px;
      right: 8px; }
      .album-list li .delete:after {
        font-size: 26px;
        content: "✕"; }
      .album-list li .delete:hover:after {
        color: #aaaaaa; }
    .album-list li:hover .rate, .album-list li:hover .delete, .album-list li:focus .rate, .album-list li:focus .delete {
      display: block; }
    .album-list li.has-rating .rate {
      display: block; }

.album-search-list li {
  cursor: pointer; }
  .album-search-list li.nothing-found {
    color: #aaaaaa;
    border: none;
    font-size: 20px; }
