@charset "UTF-8";
body, input {
  font-family: helvetica;
  color: #444444; }

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle; }

input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.8em;
  padding: 5px 4px 3px;
  border: 1px solid #cccccc;
  outline: none; }

button {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  border-bottom-color: #888888;
  border-right-color: #888888;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
  background-image: -moz-linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%);
  background-image: linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  color: #444444;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  height: 1.8em; }

input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc; }

::-webkit-input-placeholder {
  color: #cccccc; }

#app {
  width: 520px;
  margin: 40px auto;
  position: relative; }

.banner {
  position: absolute;
  left: -200px;
  top: -40px;
  width: 115px;
  padding-left: 22.5px;
  padding-right: 42.5px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(/img/banner.png) 0 bottom; }
  .banner .title {
    width: 115px;
    height: 275px;
    background: url(/img/title.png); }
  .banner .slogan {
    width: 115px;
    height: 37px;
    margin-top: 30px;
    background: url(/img/slogan.png); }
  .banner .signin {
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
    margin: 30px -5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .banner .signin a {
      display: block;
      width: 115px;
      height: 43px;
      background: url(/img/signin.png);
      opacity: 0.9; }
      .banner .signin a:hover {
        opacity: 1; }
  .banner .signout {
    margin-top: 30px;
    text-align: center; }
    .banner .signout a {
      display: inline-block;
      width: 50px;
      height: 10px;
      background: url(/img/signout.png);
      opacity: 0.5; }
      .banner .signout a:hover {
        opacity: 1; }

.header {
  font-size: 20px;
  height: 30px;
  color: #888888;
  display: block;
  margin-bottom: 8px; }
  .header a {
    color: #888888;
    text-decoration: none; }
    .header a.current {
      color: #5f9410; }
  .header .nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header .nav li {
      display: inline-block; }
      .header .nav li:before {
        content: "• "; }
      .header .nav li:first-child:before {
        content: ""; }
  .header .sync-controls {
    position: absolute;
    top: 4px;
    right: 4px; }
    .header .sync-controls .button, .header .sync-controls .spinner {
      width: 16px;
      height: 16px; }
    .header .sync-controls .button {
      background: url(/img/sync-button.gif);
      cursor: pointer; }
    .header .sync-controls .spinner {
      background: url(/img/sync-spinner.gif); }

.album-search-bar {
  display: inline-block;
  width: 600px;
  margin-bottom: 16px; }
  .album-search-bar input {
    float: left;
    width: 510px;
    font-size: 24px;
    padding: 8px;
    -webkit-box-shadow: 1px 1px 2px #aaaaaa;
    -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .album-search-bar .spinner {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/img/spinner.gif); }

.ui-list, .album-list, .friend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  padding: 0 5px; }
  .ui-list li, .album-list li, .friend-list li {
    padding: 4px;
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0;
    position: relative;
    overflow: hidden; }
    .ui-list li:focus, .album-list li:focus, .friend-list li:focus {
      background: rgba(95, 148, 16, 0.2);
      outline: none; }
    .ui-list li .primary, .album-list li .primary, .friend-list li .primary, .ui-list .album-list li .title, .album-list .ui-list li .title, .album-list li .title, .friend-list .album-list li .title, .album-list .friend-list li .title, .ui-list .friend-list li .info .name, .friend-list .ui-list li .info .name, .album-list .friend-list li .info .name, .friend-list .album-list li .info .name, .friend-list li .info .name {
      font-size: 18px;
      margin-bottom: 2px; }
      .ui-list li .primary a, .album-list li .primary a, .friend-list li .primary a, .ui-list .album-list li .title a, .album-list .ui-list li .title a, .album-list li .title a, .friend-list .album-list li .title a, .album-list .friend-list li .title a, .ui-list .friend-list li .info .name a, .friend-list .ui-list li .info .name a, .album-list .friend-list li .info .name a, .friend-list .album-list li .info .name a, .friend-list li .info .name a {
        color: inherit;
        text-decoration: none; }
        .ui-list li .primary a:hover, .album-list li .primary a:hover, .friend-list li .primary a:hover, .ui-list .album-list li .title a:hover, .album-list .ui-list li .title a:hover, .album-list li .title a:hover, .friend-list .album-list li .title a:hover, .album-list .friend-list li .title a:hover, .ui-list .friend-list li .info .name a:hover, .friend-list .ui-list li .info .name a:hover, .album-list .friend-list li .info .name a:hover, .friend-list .album-list li .info .name a:hover, .friend-list li .info .name a:hover {
          color: #5f9410; }
    .ui-list li .secondary, .album-list li .secondary, .friend-list li .secondary, .ui-list .album-list li .artist, .album-list .ui-list li .artist, .album-list li .artist, .friend-list .album-list li .artist, .album-list .friend-list li .artist, .ui-list .friend-list li .info .nickname, .friend-list .ui-list li .info .nickname, .album-list .friend-list li .info .nickname, .friend-list .album-list li .info .nickname, .friend-list li .info .nickname {
      font-size: 14px;
      color: #888888; }

.album-list li .controls {
  position: absolute;
  top: 10px;
  right: 8px; }
.album-list li .control, .album-list li .hover-control, .album-list li .archive, .album-list li .restore, .album-list li .delete, .album-list li .rate, .album-list li .add {
  display: block;
  float: right;
  width: 22px;
  height: 36px;
  margin-left: 10px;
  visibility: hidden;
  color: #dddddd; }
  .album-list li .control.visible, .album-list li .visible.hover-control, .album-list li .visible.archive, .album-list li .visible.restore, .album-list li .visible.delete, .album-list li .visible.rate, .album-list li .visible.add {
    visibility: visible; }
.album-list li:hover .hover-control, .album-list li:hover .archive, .album-list li:hover .restore, .album-list li:hover .delete, .album-list li:focus .hover-control, .album-list li:focus .archive, .album-list li:focus .restore, .album-list li:focus .delete {
  visibility: visible; }
.album-list li .rate {
  width: auto; }
  .album-list li .rate span:after {
    font-size: 20px;
    content: "★";
    vertical-align: 2px; }
  .album-list li .rate span.rated:after {
    color: #aaaaaa; }
.album-list li.allow-rate .rate {
  cursor: pointer; }
  .album-list li.allow-rate .rate span.selected:after {
    color: #ddaa44; }
  .album-list li.allow-rate .rate:hover span.rated:after {
    color: #dddddd; }
  .album-list li.allow-rate .rate:hover span.selected.rated:after {
    color: #ddaa44; }
.album-list li .archive {
  cursor: pointer; }
  .album-list li .archive:after {
    font-size: 26px;
    content: "✔"; }
  .album-list li .archive:hover:after {
    color: #44aa44; }
.album-list li .restore {
  cursor: pointer; }
  .album-list li .restore:after {
    font-size: 36px;
    content: "⤾";
    position: relative;
    top: -8px; }
  .album-list li .restore:hover:after {
    color: #44aa44; }
.album-list li .delete {
  cursor: pointer;
  width: 30px; }
  .album-list li .delete:after {
    font-size: 26px;
    content: "✕"; }
  .album-list li .delete:hover:after {
    color: #aa4444; }
.album-list li .add {
  cursor: pointer; }
  .album-list li .add:after {
    font-size: 26px;
    content: "+";
    position: relative;
    top: -2px; }
  .album-list li .add:hover:after {
    color: #44aa44; }

.album-search-list li {
  cursor: pointer; }
  .album-search-list li.new-album {
    border: none; }
    .album-search-list li.new-album label {
      display: block;
      color: #888888;
      font-size: 14px;
      margin: 8px 0; }
    .album-search-list li.new-album input, .album-search-list li.new-album button {
      font-size: 18px; }
    .album-search-list li.new-album input {
      width: 200px; }
    .album-search-list li.new-album button {
      margin: 0; }

.friend-list li {
  padding: 8px 4px;
  cursor: pointer; }
  .friend-list li.not-signed-in {
    color: #888888; }
    .friend-list li.not-signed-in a {
      color: #5f9410; }
  .friend-list li:hover {
    background: rgba(95, 148, 16, 0.2); }
  .friend-list li img {
    float: left;
    margin-right: 8px; }
  .friend-list li .info {
    overflow: hidden; }
    .friend-list li .info .name {
      margin-bottom: 4px; }
