@charset "UTF-8";
body, input {
  font-family: helvetica;
  color: #444444; }

#app {
  width: 520px;
  margin: 40px auto;
  position: relative; }

.banner {
  position: absolute;
  left: -200px;
  top: -40px;
  width: 115px;
  padding-left: 22.5px;
  padding-right: 42.5px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(/img/banner.png) 0 bottom; }
  .banner .title {
    width: 115px;
    height: 275px;
    background: url(/img/title.png); }
  .banner .slogan {
    width: 115px;
    height: 37px;
    margin-top: 30px;
    background: url(/img/slogan.png); }
  .banner .login {
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
    margin: 30px -5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .banner .login a {
      display: block;
      width: 115px;
      height: 43px;
      background: url(/img/login.png);
      opacity: 0.9; }
      .banner .login a:hover {
        opacity: 1; }

.header {
  font-size: 20px;
  height: 30px;
  color: #cccccc;
  display: block;
  margin-bottom: 8px; }
  .header a {
    color: #888888;
    text-decoration: none; }
    .header a.current {
      color: #5f9410; }
  .header .nav {
    list-style: none;
    margin: 0;
    padding: 0; }
    .header .nav li {
      display: inline-block; }
      .header .nav li:before {
        content: "• "; }
      .header .nav li:first-child:before {
        content: ""; }
  .header .sync-controls {
    position: absolute;
    top: 4px;
    right: 4px; }
    .header .sync-controls .button, .header .sync-controls .spinner {
      width: 16px;
      height: 16px; }
    .header .sync-controls .button {
      background: url(/img/sync-button.gif);
      cursor: pointer; }
    .header .sync-controls .spinner {
      background: url(/img/sync-spinner.gif); }

.album-search-bar {
  display: inline-block;
  width: 600px;
  margin-bottom: 16px; }
  .album-search-bar input {
    float: left;
    font-size: 24px;
    padding: 8px;
    width: 500px;
    border: 1px solid #cccccc;
    outline: none;
    -webkit-box-shadow: 1px 1px 2px #aaaaaa;
    -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .album-search-bar .spinner {
    float: left;
    margin-left: 10px;
    margin-top: 8px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/img/spinner.gif); }

.album-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  padding: 0 5px; }
  .album-list li {
    padding: 4px;
    border: 1px solid #cccccc;
    border-width: 0 0 1px 0;
    position: relative; }
    .album-list li:focus {
      background: #ddeeff;
      outline: none; }
    .album-list li .title {
      font-size: 18px;
      margin-bottom: 2px; }
    .album-list li .artist {
      font-size: 14px;
      color: #888888; }
    .album-list li .rate, .album-list li .archive, .album-list li .restore, .album-list li .delete {
      display: none;
      position: absolute;
      cursor: pointer;
      color: #dddddd; }
    .album-list li:hover .rate, .album-list li:hover .delete, .album-list li:focus .rate, .album-list li:focus .delete {
      display: block; }
    .album-list li:hover[data-state="current"] .archive, .album-list li:focus[data-state="current"] .archive {
      display: block; }
    .album-list li:hover[data-state="archived"] .restore, .album-list li:focus[data-state="archived"] .restore {
      display: block; }
    .album-list li.has-rating .rate {
      display: block; }
    .album-list li .rate {
      top: 8px;
      right: 88px; }
      .album-list li .rate span:after {
        font-size: 20px;
        content: "★"; }
      .album-list li .rate span.selected:after {
        color: #ddaa44; }
      .album-list li .rate span.rated:after {
        color: #aaaaaa; }
      .album-list li .rate:hover span.rated:after {
        color: #dddddd; }
      .album-list li .rate:hover span.selected.rated:after {
        color: #ddaa44; }
    .album-list li .archive {
      top: 8px;
      right: 48px; }
      .album-list li .archive:after {
        font-size: 26px;
        content: "✔"; }
      .album-list li .archive:hover:after {
        color: #44aa44; }
    .album-list li .restore {
      top: 0px;
      right: 48px; }
      .album-list li .restore:after {
        font-size: 36px;
        content: "⤾"; }
      .album-list li .restore:hover:after {
        color: #44aa44; }
    .album-list li .delete {
      top: 8px;
      right: 8px; }
      .album-list li .delete:after {
        font-size: 26px;
        content: "✕"; }
      .album-list li .delete:hover:after {
        color: #aa4444; }

.album-search-list li {
  cursor: pointer; }
  .album-search-list li.nothing-found {
    color: #aaaaaa;
    border: none;
    font-size: 20px; }

.friend-list {
  color: #888888; }
  .friend-list a {
    color: #5f9410; }
