@charset "UTF-8";
body, input {
  font-family: helvetica;
  color: #444444; }

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle; }

input[type='text'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.8em;
  padding: 5px 4px 3px;
  border: 1px solid #cccccc;
  outline: none; }

button {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  border-bottom-color: #888888;
  border-right-color: #888888;
  color: #444444;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
  height: 1.8em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#bbbbbb));
  background-image: -moz-linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%);
  background-image: linear-gradient(center top, #eeeeee 0%, #bbbbbb 100%); }
  button:active {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#888888), to(#bbbbbb));
    background-image: -moz-linear-gradient(center top, #888888 0%, #bbbbbb 100%);
    background-image: linear-gradient(center top, #888888 0%, #bbbbbb 100%); }

input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc; }

::-webkit-input-placeholder {
  color: #cccccc; }

#app {
  width: 520px;
  margin: 40px auto;
  position: relative; }

.banner {
  position: absolute;
  left: -200px;
  top: -40px;
  width: 115px;
  padding-left: 22.5px;
  padding-right: 42.5px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: url(/img/banner.png) 0 bottom; }
  .banner .title {
    width: 115px;
    height: 275px;
    background: url(/img/title.png); }
  .banner .slogan {
    width: 115px;
    height: 37px;
    margin-top: 30px;
    background: url(/img/slogan.png); }
  .banner .signin {
    background: rgba(0, 0, 0, 0.35);
    padding: 5px;
    margin: 30px -5px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px; }
    .banner .signin a {
      display: block;
      width: 115px;
      height: 43px;
      background: url(/img/signin.png);
      opacity: 0.9; }
      .banner .signin a:hover {
        opacity: 1; }
  .banner .signout {
    margin-top: 30px;
    text-align: center; }
    .banner .signout a {
      display: inline-block;
      width: 50px;
      height: 10px;
      background: url(/img/signout.png);
      opacity: 0.5; }
      .banner .signout a:hover {
        opacity: 1; }

.header {
  font-size: 20px;
  height: 30px;
  color: #888888;
  display: block;
  margin-bottom: 8px; }
  .header .sync-controls {
    position: absolute;
    top: 4px;
    right: 4px; }
    .header .sync-controls .button, .header .sync-controls .spinner {
      width: 16px;
      height: 16px; }
    .header .sync-controls .button {
      background: url(/img/sync-button.gif);
      cursor: pointer; }
    .header .sync-controls .spinner {
      background: url(/img/sync-spinner.gif); }

.navigation a {
  display: inline-block;
  color: #888888;
  text-decoration: none; }
  .navigation a.active {
    color: #5f9410; }
  .navigation a:before {
    content: "• "; }
  .navigation a:first-child:before {
    content: ""; }

.album-search-bar {
  width: 510px;
  height: 40px;
  margin-bottom: 16px;
  border: 1px solid;
  border-color: #cccccc #aaaaaa #aaaaaa #cccccc;
  position: relative;
  -webkit-box-shadow: 1px 1px 2px #aaaaaa;
  -moz-box-shadow: 1px 1px 2px #aaaaaa; }
  .album-search-bar input {
    float: left;
    width: 430px;
    height: 40px;
    border: none;
    font-size: 24px;
    padding: 8px; }
  .album-search-bar button {
    float: left;
    width: 80px;
    height: 40px;
    border: none;
    border-left: 1px solid #aaaaaa;
    font-size: 16px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0; }
  .album-search-bar .spinner {
    position: absolute;
    left: 100%;
    margin-left: 10px;
    margin-top: 4px;
    display: block;
    width: 32px;
    height: 32px;
    background: url(/img/spinner.gif); }

.ui-list, .album-list, .friend-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 500px;
  padding: 0 5px; }

.ui-list-item, .album, .album-search-list .new-album, .friend {
  padding: 4px;
  border: 1px solid #cccccc;
  border-width: 1px 0 0 0;
  position: relative; }
  .ui-list-item:after, .album:after, .album-search-list .new-album:after, .friend:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .ui-list-item:first-child, .album:first-child, .album-search-list .new-album:first-child, .friend:first-child {
    border-width: 0; }
  .ui-list-item:focus, .album:focus, .album-search-list .new-album:focus, .friend:focus {
    border-left: 3px solid #5f9410;
    margin-left: -3px;
    outline: none; }
  .ui-list-item .primary, .album .primary, .album-search-list .new-album .primary, .friend .primary, .ui-list-item .album .title, .album .ui-list-item .title, .album .title, .album-search-list .new-album .album .title, .album .album-search-list .new-album .title, .friend .album .title, .album .friend .title, .ui-list-item .friend .info .name, .friend .info .ui-list-item .name, .album .friend .info .name, .friend .info .album .name, .album-search-list .new-album .friend .info .name, .friend .info .album-search-list .new-album .name, .friend .info .name {
    font-size: 18px;
    margin-bottom: 2px; }
    .ui-list-item .primary a, .album .primary a, .album-search-list .new-album .primary a, .friend .primary a, .ui-list-item .album .title a, .album .ui-list-item .title a, .album .title a, .album-search-list .new-album .album .title a, .album .album-search-list .new-album .title a, .friend .album .title a, .album .friend .title a, .ui-list-item .friend .info .name a, .friend .info .ui-list-item .name a, .album .friend .info .name a, .friend .info .album .name a, .album-search-list .new-album .friend .info .name a, .friend .info .album-search-list .new-album .name a, .friend .info .name a {
      color: inherit;
      text-decoration: none; }
      .ui-list-item .primary a:hover, .album .primary a:hover, .album-search-list .new-album .primary a:hover, .friend .primary a:hover, .ui-list-item .album .title a:hover, .album .ui-list-item .title a:hover, .album .title a:hover, .album-search-list .new-album .album .title a:hover, .album .album-search-list .new-album .title a:hover, .friend .album .title a:hover, .album .friend .title a:hover, .ui-list-item .friend .info .name a:hover, .friend .info .ui-list-item .name a:hover, .album .friend .info .name a:hover, .friend .info .album .name a:hover, .album-search-list .new-album .friend .info .name a:hover, .friend .info .album-search-list .new-album .name a:hover, .friend .info .name a:hover {
        color: #5f9410; }
  .ui-list-item .secondary, .album .secondary, .album-search-list .new-album .secondary, .friend .secondary, .ui-list-item .album .artist, .album .ui-list-item .artist, .album .artist, .album-search-list .new-album .album .artist, .album .album-search-list .new-album .artist, .friend .album .artist, .album .friend .artist, .ui-list-item .friend .info .nickname, .friend .info .ui-list-item .nickname, .album .friend .info .nickname, .friend .info .album .nickname, .album-search-list .new-album .friend .info .nickname, .friend .info .album-search-list .new-album .nickname, .friend .info .nickname {
    font-size: 14px;
    color: #888888; }

.nothing-found {
  text-align: center;
  padding-top: 16px;
  color: #888888; }

.album .controls {
  position: absolute;
  top: 10px;
  right: 8px; }
.album .control, .album .hover-control, .album .archive, .album .restore, .album .delete, .album .rate, .album .add {
  display: block;
  float: right;
  width: 22px;
  height: 36px;
  margin-left: 10px;
  visibility: hidden;
  color: #dddddd; }
  .album .control.visible, .album .visible.hover-control, .album .visible.archive, .album .visible.restore, .album .visible.delete, .album .visible.rate, .album .visible.add {
    visibility: visible; }
.album:hover .hover-control, .album:hover .archive, .album:hover .restore, .album:hover .delete, .album:focus .hover-control, .album:focus .archive, .album:focus .restore, .album:focus .delete {
  visibility: visible; }
.album .rate {
  width: auto; }
  .album .rate span:after {
    font-size: 20px;
    content: "★";
    vertical-align: 2px; }
  .album .rate span.rated:after {
    color: #aaaaaa; }
.album.allow-rate .rate {
  cursor: pointer; }
  .album.allow-rate .rate span.selected:after {
    color: #ddaa44; }
  .album.allow-rate .rate:hover span.rated:after {
    color: #dddddd; }
  .album.allow-rate .rate:hover span.selected.rated:after {
    color: #ddaa44; }
.album .archive {
  cursor: pointer; }
  .album .archive:after {
    font-size: 26px;
    content: "✔"; }
  .album .archive:hover:after {
    color: #44aa44; }
.album .restore {
  cursor: pointer; }
  .album .restore:after {
    font-size: 26px;
    content: "↩";
    position: relative;
    top: 2px;
    left: -2px; }
  .album .restore:hover:after {
    color: #44aa44; }
.album .delete {
  cursor: pointer;
  width: 30px; }
  .album .delete:after {
    font-size: 26px;
    content: "✕"; }
  .album .delete:hover:after {
    color: #aa4444; }
.album .add {
  cursor: pointer; }
  .album .add:after {
    font-size: 26px;
    content: "+";
    position: relative;
    top: -2px; }
  .album .add:hover:after {
    color: #44aa44; }

.album-search-list .album:hover, .album-search-list .album:focus {
  background: rgba(95, 148, 16, 0.2);
  cursor: pointer; }
.album-search-list .new-album label {
  display: block;
  color: #888888;
  font-size: 14px;
  margin: 8px 0; }
.album-search-list .new-album input, .album-search-list .new-album button {
  font-size: 18px; }
.album-search-list .new-album input {
  width: 200px; }
.album-search-list .new-album button {
  margin: 0; }

.friends-albums-list .album[data-state="archived"] .title {
  color: #666666; }

.friend-browser .spinner {
  width: 66px;
  height: 66px;
  margin: 100px auto 0;
  background: url(/img/spinner-big.gif); }

.friend-list .friend:hover, .friend-list .friend:focus {
  background: rgba(95, 148, 16, 0.2);
  cursor: pointer; }
.friend-list li.not-signed-in {
  color: #888888; }
  .friend-list li.not-signed-in a {
    color: #5f9410; }

.friend {
  padding: 8px 4px; }
  .friend .back {
    position: absolute;
    right: 100%;
    font-size: 18px;
    color: #aaaaaa;
    padding-top: 10px;
    cursor: pointer; }
    .friend .back:hover {
      color: #5f9410; }
    .friend .back:after {
      content: "◀"; }
  .friend img {
    float: left;
    margin-right: 8px; }
  .friend .info {
    overflow: hidden; }
    .friend .info .name {
      margin-bottom: 4px; }
