*, input {
  font-family: helvetica, sans-serif; }

body {
  margin: 0;
  -webkit-text-size-adjust: 100%; }

.header {
  height: 86px;
  border-bottom: 2px solid #3a5a0a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83c91b), to(#5f9410));
  background-image: -moz-linear-gradient(center top, #83c91b 0%, #5f9410 100%);
  background-image: linear-gradient(center top, #83c91b 0%, #5f9410 100%); }
  .header:after {
    content: "nnnnext";
    display: block;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -2px 0px rgba(58, 90, 10, 0.5);
    font-size: 40px;
    font-weight: bold;
    color: white; }

.navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  border-top: 2px solid #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), color-stop(0.05, #323232), color-stop(0.5, #151515), color-stop(0.51, black), to(black));
  display: table;
  border-spacing: 4px; }
  .navigation .inner {
    display: table-row; }
  .navigation a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold; }
    .navigation a.active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), color-stop(0.5, #363636), color-stop(0.51, #252525), to(#252525));
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px; }

.album-search-bar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7efb4), to(#a1e143));
  background-image: -moz-linear-gradient(center top, #d7efb4 0%, #a1e143 100%);
  background-image: linear-gradient(center top, #d7efb4 0%, #a1e143 100%);
  border-bottom: 1px solid #83c91b;
  padding: 14px 20px; }
  .album-search-bar .inner {
    height: 60px;
    padding: 0 60px 0 15px;
    background: white;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    -webkit-box-shadow: inset 0px 7.5px 15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 7.5px 15px rgba(0, 0, 0, 0.35); }
  .album-search-bar input {
    width: 100%;
    margin-top: 6px;
    font-size: 30px;
    border: none;
    background: none;
    -webkit-appearance: none; }
  .album-search-bar button {
    display: none; }

.album-list {
  margin: 0;
  padding: 0; }
  .album-list li {
    padding: 20px;
    border-bottom: 1px solid #cccccc; }
    .album-list li .title {
      font-size: 36px;
      font-weight: bold; }
    .album-list li .artist {
      font-size: 30px;
      color: #666666; }
