@charset "UTF-8";
*, input {
  font-family: helvetica, sans-serif; }

body {
  margin: 0;
  -webkit-text-size-adjust: 100%; }

.header {
  height: 84px;
  border-bottom: 2px solid #3a5a0a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83c91b), to(#5f9410));
  background-image: -moz-linear-gradient(center top, #83c91b 0%, #5f9410 100%);
  background-image: linear-gradient(center top, #83c91b 0%, #5f9410 100%); }
  .header:after {
    content: "nnnnext";
    display: block;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px -2px 0px rgba(58, 90, 10, 0.5);
    font-size: 40px;
    font-weight: bold;
    color: white; }

.navigation {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  border-top: 2px solid #111111;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), color-stop(0.05, #323232), color-stop(0.5, #151515), color-stop(0.51, black), to(black));
  display: table;
  border-spacing: 4px; }
  .navigation .inner {
    display: table-row; }
  .navigation a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold; }
    .navigation a.active {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), color-stop(0.5, #363636), color-stop(0.51, #252525), to(#252525));
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px; }

#scroll-wrapper {
  position: absolute;
  top: 86px;
  bottom: 96px;
  left: 0;
  right: 0; }

.hint {
  background: #d7efb4;
  color: #3a5a0a;
  margin: 30px;
  padding: 1px;
  position: relative;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }
  .hint .text {
    margin: 29px 30px; }
    .hint .text ul {
      list-style: disc;
      padding-left: 1.5em; }
  .hint .dismiss {
    display: none; }

.album-search-bar {
  border-bottom: 1px solid #83c91b;
  padding: 14px 20px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7efb4), to(#a1e143));
  background-image: -moz-linear-gradient(center top, #d7efb4 0%, #a1e143 100%);
  background-image: linear-gradient(center top, #d7efb4 0%, #a1e143 100%); }
  .album-search-bar .inner {
    height: 60px;
    padding: 0 60px 0 15px;
    background: white;
    -webkit-border-radius: 61.6px;
    -moz-border-radius: 61.6px;
    -webkit-box-shadow: inset 0px 11px 22px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: inset 0px 11px 22px rgba(0, 0, 0, 0.35); }
  .album-search-bar input {
    width: 100%;
    margin-top: 6px;
    font-size: 30px;
    border: none;
    background: none;
    -webkit-appearance: none; }
  .album-search-bar .cancel {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 88px;
    height: 88px;
    background: url(/img/cancel-search.png) 25px 30px no-repeat; }

.ui-list, .album-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.ui-list-item, .album {
  position: relative;
  border-bottom: 1px solid #cccccc; }
  .ui-list-item .info, .album .info {
    position: relative;
    z-index: 2;
    background: white;
    color: black;
    padding: 20px;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s; }
    .ui-list-item .info .primary, .album .info .primary, .ui-list-item .info .album .title, .album .ui-list-item .info .title, .album .info .title {
      font-size: 36px;
      font-weight: bold; }
    .ui-list-item .info .secondary, .album .info .secondary, .ui-list-item .info .album .artist, .album .ui-list-item .info .artist, .album .info .artist {
      font-size: 30px;
      color: #666666; }
  .ui-list-item.touched .info, .touched.album .info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4286f5), to(#194fdb));
    background-image: -moz-linear-gradient(center top, #4286f5 0%, #194fdb 100%);
    background-image: linear-gradient(center top, #4286f5 0%, #194fdb 100%);
    color: white; }
  .ui-list-item.open .info, .open.album .info {
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform 0.35s; }
  .ui-list-item .controls, .album .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), color-stop(0.33, #444444), color-stop(0.67, #444444), to(#333333));
    text-align: center; }
    .ui-list-item .controls .button, .album .controls .button, .ui-list-item .controls .delete, .album .ui-list-item .controls .delete, .ui-list-item .album .controls .delete, .ui-list-item .album .controls .delete, .album .ui-list-item .controls .delete, .album .controls .delete, .ui-list-item .controls .restore, .album .ui-list-item .controls .restore, .ui-list-item .album .controls .restore, .ui-list-item .album .controls .restore, .album .ui-list-item .controls .restore, .album .controls .restore, .ui-list-item .controls .archive, .album .ui-list-item .controls .archive, .ui-list-item .album .controls .archive, .ui-list-item .album .controls .archive, .album .ui-list-item .controls .archive, .album .controls .archive {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px;
      margin-top: 7px; }
    .ui-list-item .controls .button:after, .album .controls .button:after, .ui-list-item .controls .delete:after, .album .ui-list-item .controls .delete:after, .ui-list-item .album .controls .delete:after, .ui-list-item .album .controls .delete:after, .album .ui-list-item .controls .delete:after, .album .controls .delete:after, .ui-list-item .controls .restore:after, .album .ui-list-item .controls .restore:after, .ui-list-item .album .controls .restore:after, .ui-list-item .album .controls .restore:after, .album .ui-list-item .controls .restore:after, .album .controls .restore:after, .ui-list-item .controls .archive:after, .album .ui-list-item .controls .archive:after, .ui-list-item .album .controls .archive:after, .ui-list-item .album .controls .archive:after, .album .ui-list-item .controls .archive:after, .album .controls .archive:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px;
      text-align: center;
      color: white; }
    .ui-list-item .controls .button.touched:after, .album .controls .button.touched:after, .ui-list-item .controls .touched.delete:after, .album .ui-list-item .controls .touched.delete:after, .ui-list-item .album .controls .touched.delete:after, .ui-list-item .album .controls .touched.delete:after, .album .ui-list-item .controls .touched.delete:after, .album .controls .touched.delete:after, .ui-list-item .controls .touched.restore:after, .album .ui-list-item .controls .touched.restore:after, .ui-list-item .album .controls .touched.restore:after, .ui-list-item .album .controls .touched.restore:after, .album .ui-list-item .controls .touched.restore:after, .album .controls .touched.restore:after, .ui-list-item .controls .touched.archive:after, .album .ui-list-item .controls .touched.archive:after, .ui-list-item .album .controls .touched.archive:after, .ui-list-item .album .controls .touched.archive:after, .album .ui-list-item .controls .touched.archive:after, .album .controls .touched.archive:after {
      color: blue; }
    .ui-list-item .controls .delete:after, .album .controls .delete:after {
      font-size: 80px;
      top: -7px;
      content: "✕"; }
    .ui-list-item .controls .restore:after, .album .controls .restore:after {
      font-size: 70px;
      content: "↩"; }
    .ui-list-item .controls .archive:after, .album .controls .archive:after {
      font-size: 80px;
      top: -9px;
      content: "✔"; }

.new-album {
  padding: 20px;
  font-size: 30px; }
  .new-album label {
    color: #666666;
    display: block;
    margin-bottom: 20px; }
  .new-album input {
    font-size: 30px;
    width: 200px; }
  .new-album button {
    font-size: 26px; }
