@charset "UTF-8";
*, input {
  font-family: helvetica, sans-serif; }

body {
  margin: 0;
  -webkit-text-size-adjust: 100%; }

.banner {
  height: 84px;
  border-bottom: 2px solid #3a5a0a;
  position: relative;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#83c91b), to(#5f9410));
  background-image: -moz-linear-gradient(center top, #83c91b 0%, #5f9410 100%);
  background-image: linear-gradient(center top, #83c91b 0%, #5f9410 100%);
  text-shadow: 0px -2px 0px rgba(58, 90, 10, 0.5); }
  .banner:after {
    content: "nnnnext";
    display: block;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: white; }
  .banner .button a, .banner .signin a, .banner .signout a, .banner .ui-list-item .controls .delete a, .ui-list-item .controls .banner .delete a, .banner .album .controls .delete a, .album .controls .banner .delete a, .banner .ui-list-item .controls .restore a, .ui-list-item .controls .banner .restore a, .banner .album .controls .restore a, .album .controls .banner .restore a, .banner .ui-list-item .controls .archive a, .ui-list-item .controls .banner .archive a, .banner .album .controls .archive a, .album .controls .banner .archive a, .banner .ui-list-item .controls .show-rate-controls a, .ui-list-item .controls .banner .show-rate-controls a, .banner .album .controls .show-rate-controls a, .album .controls .banner .show-rate-controls a, .banner .ui-list-item .controls .rate span a, .ui-list-item .controls .rate .banner span a, .banner .album .controls .rate span a, .album .controls .rate .banner span a {
    display: block;
    position: absolute;
    top: 12px;
    bottom: 12px;
    right: 12px;
    border: 2px solid #3a5a0a;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#83c91b), to(#3a5a0a));
    background-image: -moz-linear-gradient(center top, #83c91b 0%, #3a5a0a 100%);
    background-image: linear-gradient(center top, #83c91b 0%, #3a5a0a 100%); }
    .banner .button a:after, .banner .signin a:after, .banner .signout a:after, .banner .ui-list-item .controls .delete a:after, .ui-list-item .controls .banner .delete a:after, .banner .album .controls .delete a:after, .album .controls .banner .delete a:after, .banner .ui-list-item .controls .restore a:after, .ui-list-item .controls .banner .restore a:after, .banner .album .controls .restore a:after, .album .controls .banner .restore a:after, .banner .ui-list-item .controls .archive a:after, .ui-list-item .controls .banner .archive a:after, .banner .album .controls .archive a:after, .album .controls .banner .archive a:after, .banner .ui-list-item .controls .show-rate-controls a:after, .ui-list-item .controls .banner .show-rate-controls a:after, .banner .album .controls .show-rate-controls a:after, .album .controls .banner .show-rate-controls a:after, .banner .ui-list-item .controls .rate span a:after, .ui-list-item .controls .rate .banner span a:after, .banner .album .controls .rate span a:after, .album .controls .rate .banner span a:after {
      display: inline-block;
      content: "Sign In";
      color: white;
      font-size: 24px;
      font-weight: bold;
      margin: 13px 20px; }

.navigation {
  height: 60px;
  width: 100%;
  display: table;
  -webkit-box-shadow: 0 0 10px #3a5a0a;
  -moz-box-shadow: 0 0 10px #3a5a0a; }
  .navigation .inner {
    display: table-row; }
  .navigation a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    background: #a1e143;
    color: #3a5a0a;
    font-size: 26px;
    font-weight: bold;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px white; }
    .navigation a.touched {
      background: #5f9410;
      text-shadow: 0px 1px 0px #83c91b; }
    .navigation a.active {
      background: #83c91b;
      text-shadow: 0px 1px 0px #d7efb4; }

.hint {
  background: #d7efb4;
  color: #3a5a0a;
  margin: 30px;
  padding: 1px;
  position: relative;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px; }
  .hint .text {
    margin: 29px 30px; }
    .hint .text ul {
      list-style: disc;
      padding-left: 1.5em; }
  .hint .dismiss {
    display: none; }

.album-search-bar {
  position: relative;
  padding: 30px; }
  .album-search-bar input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 390px;
    font-size: 30px; }
  .album-search-bar button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 32px;
    right: 30px;
    width: 170px;
    height: 53px;
    font-size: 26px; }
  .album-search-bar .cancel {
    display: block;
    position: absolute;
    top: 30px;
    left: 360px;
    width: 60px;
    height: 60px;
    background: url(/img/cancel-search.png) 15px 15px no-repeat; }

.ui-list, .album-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #cccccc; }

.ui-list-item, .album {
  position: relative;
  border-bottom: 1px solid #cccccc;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .ui-list-item .info, .album .info, .ui-list-item .controls, .album .controls, .ui-list-item .controls .actions, .album .controls .actions, .ui-list-item .controls .rate, .album .controls .rate {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.35s; }
  .ui-list-item .controls .rate, .album .controls .rate {
    -webkit-transform: translate3d(100%, 0, 0); }
  .ui-list-item.open .info, .open.album .info {
    -webkit-transform: translate3d(100%, 0, 0); }
  .ui-list-item.open.showing-rate-controls .controls .actions, .open.showing-rate-controls.album .controls .actions {
    -webkit-transform: translate3d(-100%, 0, 0); }
  .ui-list-item.open.showing-rate-controls .controls .rate, .open.showing-rate-controls.album .controls .rate {
    -webkit-transform: translate3d(0, 0, 0); }
  .ui-list-item .info, .album .info {
    position: relative;
    z-index: 2;
    background: white;
    color: black;
    padding: 20px; }
    .ui-list-item .info .primary, .album .info .primary, .ui-list-item .info .album .title, .album .ui-list-item .info .title, .album .info .title {
      font-size: 36px;
      font-weight: bold; }
    .ui-list-item .info .secondary, .album .info .secondary, .ui-list-item .info .album .artist, .album .ui-list-item .info .artist, .album .info .artist {
      font-size: 30px;
      color: #666666; }
    .ui-list-item .info .rate, .album .info .rate {
      position: absolute;
      top: 0;
      right: 0;
      padding: 20px; }
      .ui-list-item .info .rate span:before, .album .info .rate span:before {
        font-size: 30px;
        content: "★";
        color: #dddddd; }
      .ui-list-item .info .rate span.rated:before, .album .info .rate span.rated:before {
        color: #ddaa44; }
  .ui-list-item.touched .info, .touched.album .info {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4286f5), to(#194fdb));
    background-image: -moz-linear-gradient(center top, #4286f5 0%, #194fdb 100%);
    background-image: linear-gradient(center top, #4286f5 0%, #194fdb 100%); }
    .ui-list-item.touched .info .primary, .touched.album .info .primary, .ui-list-item.touched .info .album .title, .album .ui-list-item.touched .info .title, .touched.album .info .title, .ui-list-item.touched .info .secondary, .touched.album .info .secondary, .ui-list-item.touched .info .album .artist, .album .ui-list-item.touched .info .artist, .touched.album .info .artist {
      color: white; }
  .ui-list-item .controls, .album .controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), color-stop(0.33, #444444), color-stop(0.67, #444444), to(#333333));
    color: white;
    text-shadow: 0 0 30px #191919; }
    .ui-list-item .controls .actions, .album .controls .actions, .ui-list-item .controls .rate, .album .controls .rate {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; }
    .ui-list-item .controls .button, .album .controls .button, .ui-list-item .controls .banner .signin, .banner .ui-list-item .controls .signin, .album .controls .banner .signin, .banner .album .controls .signin, .ui-list-item .controls .banner .signout, .banner .ui-list-item .controls .signout, .album .controls .banner .signout, .banner .album .controls .signout, .ui-list-item .controls .delete, .album .ui-list-item .controls .delete, .ui-list-item .album .controls .delete, .ui-list-item .album .controls .delete, .album .ui-list-item .controls .delete, .album .controls .delete, .ui-list-item .controls .restore, .album .ui-list-item .controls .restore, .ui-list-item .album .controls .restore, .ui-list-item .album .controls .restore, .album .ui-list-item .controls .restore, .album .controls .restore, .ui-list-item .controls .archive, .album .ui-list-item .controls .archive, .ui-list-item .album .controls .archive, .ui-list-item .album .controls .archive, .album .ui-list-item .controls .archive, .album .controls .archive, .ui-list-item .controls .show-rate-controls, .album .ui-list-item .controls .show-rate-controls, .ui-list-item .album .controls .show-rate-controls, .ui-list-item .album .controls .show-rate-controls, .album .ui-list-item .controls .show-rate-controls, .album .controls .show-rate-controls, .ui-list-item .controls .rate span, .album .ui-list-item .controls .rate span, .ui-list-item .album .controls .rate span, .ui-list-item .album .controls .rate span, .album .ui-list-item .controls .rate span, .album .controls .rate span {
      display: inline-block;
      position: relative;
      width: 100px;
      height: 100px; }
    .ui-list-item .controls .button:before, .album .controls .button:before, .ui-list-item .controls .banner .signin:before, .banner .ui-list-item .controls .signin:before, .album .controls .banner .signin:before, .banner .album .controls .signin:before, .ui-list-item .controls .banner .signout:before, .banner .ui-list-item .controls .signout:before, .album .controls .banner .signout:before, .banner .album .controls .signout:before, .ui-list-item .controls .delete:before, .album .ui-list-item .controls .delete:before, .ui-list-item .album .controls .delete:before, .ui-list-item .album .controls .delete:before, .album .ui-list-item .controls .delete:before, .album .controls .delete:before, .ui-list-item .controls .restore:before, .album .ui-list-item .controls .restore:before, .ui-list-item .album .controls .restore:before, .ui-list-item .album .controls .restore:before, .album .ui-list-item .controls .restore:before, .album .controls .restore:before, .ui-list-item .controls .archive:before, .album .ui-list-item .controls .archive:before, .ui-list-item .album .controls .archive:before, .ui-list-item .album .controls .archive:before, .album .ui-list-item .controls .archive:before, .album .controls .archive:before, .ui-list-item .controls .show-rate-controls:before, .album .ui-list-item .controls .show-rate-controls:before, .ui-list-item .album .controls .show-rate-controls:before, .ui-list-item .album .controls .show-rate-controls:before, .album .ui-list-item .controls .show-rate-controls:before, .album .controls .show-rate-controls:before, .ui-list-item .controls .rate span:before, .album .ui-list-item .controls .rate span:before, .ui-list-item .album .controls .rate span:before, .ui-list-item .album .controls .rate span:before, .album .ui-list-item .controls .rate span:before, .album .controls .rate span:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100px; }
    .ui-list-item .controls .button:after, .album .controls .button:after, .ui-list-item .controls .banner .signin:after, .banner .ui-list-item .controls .signin:after, .album .controls .banner .signin:after, .banner .album .controls .signin:after, .ui-list-item .controls .banner .signout:after, .banner .ui-list-item .controls .signout:after, .album .controls .banner .signout:after, .banner .album .controls .signout:after, .ui-list-item .controls .delete:after, .album .ui-list-item .controls .delete:after, .ui-list-item .album .controls .delete:after, .ui-list-item .album .controls .delete:after, .album .ui-list-item .controls .delete:after, .album .controls .delete:after, .ui-list-item .controls .restore:after, .album .ui-list-item .controls .restore:after, .ui-list-item .album .controls .restore:after, .ui-list-item .album .controls .restore:after, .album .ui-list-item .controls .restore:after, .album .controls .restore:after, .ui-list-item .controls .archive:after, .album .ui-list-item .controls .archive:after, .ui-list-item .album .controls .archive:after, .ui-list-item .album .controls .archive:after, .album .ui-list-item .controls .archive:after, .album .controls .archive:after, .ui-list-item .controls .show-rate-controls:after, .album .ui-list-item .controls .show-rate-controls:after, .ui-list-item .album .controls .show-rate-controls:after, .ui-list-item .album .controls .show-rate-controls:after, .album .ui-list-item .controls .show-rate-controls:after, .album .controls .show-rate-controls:after, .ui-list-item .controls .rate span:after, .album .ui-list-item .controls .rate span:after, .ui-list-item .album .controls .rate span:after, .ui-list-item .album .controls .rate span:after, .album .ui-list-item .controls .rate span:after, .album .controls .rate span:after {
      position: absolute;
      top: 80px;
      left: 0;
      width: 100px;
      font-weight: bold;
      font-size: 20px; }
    .ui-list-item .controls .button.touched, .album .controls .button.touched, .ui-list-item .controls .banner .touched.signin, .banner .ui-list-item .controls .touched.signin, .album .controls .banner .touched.signin, .banner .album .controls .touched.signin, .ui-list-item .controls .banner .touched.signout, .banner .ui-list-item .controls .touched.signout, .album .controls .banner .touched.signout, .banner .album .controls .touched.signout, .ui-list-item .controls .touched.delete, .album .ui-list-item .controls .touched.delete, .ui-list-item .album .controls .touched.delete, .ui-list-item .album .controls .touched.delete, .album .ui-list-item .controls .touched.delete, .album .controls .touched.delete, .ui-list-item .controls .touched.restore, .album .ui-list-item .controls .touched.restore, .ui-list-item .album .controls .touched.restore, .ui-list-item .album .controls .touched.restore, .album .ui-list-item .controls .touched.restore, .album .controls .touched.restore, .ui-list-item .controls .touched.archive, .album .ui-list-item .controls .touched.archive, .ui-list-item .album .controls .touched.archive, .ui-list-item .album .controls .touched.archive, .album .ui-list-item .controls .touched.archive, .album .controls .touched.archive, .ui-list-item .controls .touched.show-rate-controls, .album .ui-list-item .controls .touched.show-rate-controls, .ui-list-item .album .controls .touched.show-rate-controls, .ui-list-item .album .controls .touched.show-rate-controls, .album .ui-list-item .controls .touched.show-rate-controls, .album .controls .touched.show-rate-controls, .ui-list-item .controls .rate span.touched, .album .ui-list-item .controls .rate span.touched, .ui-list-item .album .controls .rate span.touched, .ui-list-item .album .controls .rate span.touched, .album .ui-list-item .controls .rate span.touched, .album .controls .rate span.touched {
      color: blue; }
    .ui-list-item .controls .delete:before, .album .controls .delete:before {
      font-size: 80px;
      top: -7px;
      content: "✕"; }
    .ui-list-item .controls .delete:after, .album .controls .delete:after {
      content: "Delete"; }
    .ui-list-item .controls .restore:before, .album .controls .restore:before {
      font-size: 70px;
      content: "↩"; }
    .ui-list-item .controls .restore:after, .album .controls .restore:after {
      content: "Restore"; }
    .ui-list-item .controls .archive:before, .album .controls .archive:before {
      font-size: 80px;
      top: -9px;
      content: "✔"; }
    .ui-list-item .controls .archive:after, .album .controls .archive:after {
      content: "Archive"; }
    .ui-list-item .controls .show-rate-controls:before, .album .controls .show-rate-controls:before {
      font-size: 60px;
      top: 5px;
      content: "★"; }
    .ui-list-item .controls .show-rate-controls:after, .album .controls .show-rate-controls:after {
      content: "Rate"; }
    .ui-list-item .controls .rate span:before, .album .controls .rate span:before {
      font-size: 80px;
      content: "☆"; }
    .ui-list-item .controls .rate span.rated:before, .album .controls .rate span.rated:before {
      font-size: 80px;
      content: "★"; }

.new-album {
  padding: 20px;
  font-size: 30px; }
  .new-album label {
    color: #666666;
    display: block;
    margin-bottom: 20px; }
  .new-album input {
    font-size: 30px;
    width: 200px; }
  .new-album button {
    font-size: 26px; }
