$primary:   #5f9410
$highlight: transparentize($primary, 0.8)
$light:     desaturate(lighten($primary, 12.5%), 12.5%/3)
$lighter:   desaturate(lighten($primary, 25%), 25%/3)
$lightest:  desaturate(lighten($primary, 50%), 50%/3)
$dark:      darken($primary, 12.5%)
$darker:    darken($primary, 25%)
$darkest:   darken($primary, 50%)

$control-normal: #ccc
$control-rated:  #999
$control-red:    #a44
$control-green:  #4a4
$control-yellow: #da4

