=box-shadow($args)
  -webkit-box-shadow: $args
  -moz-box-shadow: $args

body, input
  font-family: helvetica
  color: #444

#app
  width: 600px
  margin: 40px auto

.header
  font-size: 20px
  height: 30px
  color: #ccc
  display: block
  margin-bottom: 8px

  a
    color: #888

  ul
    list-style: none
    margin: 0
    padding: 0

.album-search-bar
  display: inline-block
  margin-bottom: 16px

  input
    float: left
    font-size: 24px
    padding: 8px
    width: 500px
    border: 1px solid #ccc
    +box-shadow(1px 1px 2px #aaa)
    outline: none

  .spinner
    float: left
    margin-left: 10px
    margin-top: 8px
    display: block
    width: 32px
    height: 32px
    background: url(/img/spinner.gif)
    
.album-list
  list-style: none
  margin: 0
  padding: 0
  width: 500px
  padding: 0 5px

  li
    padding: 4px
    border: 1px solid #ccc
    border-width: 1px 0 0 0
    position: relative

    &:first-child
      border-width: 0

    &:focus
      background: #def
      outline: none

    .title
      font-size: 18px
      margin-bottom: 2px

    .artist
      font-size: 14px
      color: #888

    .controls
      display: none
      position: absolute
      top: 8px
      right: 8px

      .rate, .delete
        display: inline-block
        cursor: pointer
        color: #ddd

      .rate
        span:after
          font-size: 20px
          content: "★"

        span.selected:after
          color: #aaa

      .delete
        margin-left: 8px

        &:after
          font-size: 26px
          content: "✕"
          vertical-align: -2px

        &:hover:after
          color: #aaa

    &:hover .controls, &:focus .controls
      display: block

.album-search-list li
  cursor: pointer
