=box-shadow($args)
  -webkit-box-shadow: $args
  -moz-box-shadow:    $args

=border-radius($x)
  -webkit-border-radius: $x
  -moz-border-radius:    $x

=vertical-gradient($from, $to)
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to))
  background-image: -moz-linear-gradient(center top, $from 0%, $to 100%)
  background-image: linear-gradient(center top, $from 0%, $to 100%)

$vertical-margin: 40px

$primary: #5f9410
$highlight: transparentize($primary, 0.8)

body, input
  font-family: helvetica
  color:       #444

// some of the following is stolen from http://formalize.me/

input,
button,
select,
textarea
  -moz-background-clip: padding
  -webkit-background-clip: padding
  background-clip: padding-box
  margin: 0
  vertical-align: middle

input[type='text']
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  height: 1.8em
  padding: 5px 4px 3px
  border:  1px solid #ccc
  outline: none

button
  padding: 4px 8px
  border: 1px solid #ccc
  border-bottom-color: #888
  border-right-color: #888
  +vertical-gradient(#eee, #bbb)
  +border-radius(2px)
  color: #444
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75)
  height: 1.8em

input.placeholder_text,
textarea.placeholder_text,
input:-moz-placeholder,
textarea:-moz-placeholder
  color: #ccc

::-webkit-input-placeholder
  color: #ccc

#app
  width:  520px
  margin: $vertical-margin auto
  position: relative

.banner
  $img-width:    200px
  $banner-width: 160px
  $inner-width:  115px

  position:       absolute
  left:           -$img-width
  top:            -$vertical-margin
  width:          $inner-width
  padding-left:   ($banner-width - $inner-width)/2
  padding-right:  ($img-width - $inner-width)/2
  padding-top:    40px
  padding-bottom: 80px
  background:     url(/img/banner.png) 0 bottom

  .title
    width:      115px
    height:     275px
    background: url(/img/title.png)

  .slogan
    width:      115px
    height:     37px
    margin-top: 30px
    background: url(/img/slogan.png)

  .signin
    background: rgba(0,0,0,0.35)
    padding: 5px
    margin: 30px -5px 0
    +border-radius(5px)

    a
      display:    block
      width:      115px
      height:     43px
      background: url(/img/signin.png)
      opacity:    0.9

      &:hover
        opacity: 1

  .signout
    margin-top: 30px
    text-align: center

    a
      display:    inline-block
      width:      50px
      height:     10px
      background: url(/img/signout.png)
      opacity:    0.5

      &:hover
        opacity: 1

.header
  font-size:     20px
  height:        30px
  color:         #888
  display:       block
  margin-bottom: 8px

  a
    color:           #888
    text-decoration: none

    &.current
      color: $primary

  .nav
    list-style: none
    margin:     0
    padding:    0

    li
      display: inline-block

      &:before
        content: "• "

      &:first-child:before
        content: ""

  .sync-controls
    position: absolute
    top: 4px
    right: 4px

    .button, .spinner
      width: 16px
      height: 16px

    .button
      background: url(/img/sync-button.gif)
      cursor: pointer

    .spinner
      background: url(/img/sync-spinner.gif)

.album-search-bar
  display:       inline-block
  width:         600px
  margin-bottom: 16px

  input
    float:     left
    width:     510px
    font-size: 24px
    padding:   8px
    +box-shadow(1px 1px 2px #aaa)

  .spinner
    float:       left
    margin-left: 10px
    margin-top:  8px
    display:     block
    width:       32px
    height:      32px
    background:  url(/img/spinner.gif)

.ui-list
  list-style: none
  margin:     0
  padding:    0
  width:      500px
  padding:    0 5px

.ui-list-item
  padding:      4px
  border:       1px solid #ccc
  border-width: 0 0 1px 0
  position:     relative
  overflow:     hidden

  &.highlight
    background: $highlight
    outline:    none

  .primary
    font-size:     18px
    margin-bottom: 2px

    a
      color: inherit
      text-decoration: none

      &:hover
        color: $primary

  .secondary
    font-size: 14px
    color:     #888

.album-list
  @extend .ui-list

.album
  @extend .ui-list-item

  .title
    @extend .primary

  .artist
    @extend .secondary

  $control-normal: #ddd
  $control-rated:  #aaa
  $control-red:    #a44
  $control-green:  #4a4
  $control-yellow: #da4

  .controls
    position: absolute
    top:      10px
    right:    8px

  .control
    display:     block
    float:       right
    width:       22px
    height:      36px
    margin-left: 10px
    visibility:  hidden
    color:       $control-normal

    &.visible
      visibility: visible

  .hover-control
    @extend .control

  &:hover, &:focus
    .hover-control
      visibility: visible

  .rate
    @extend .control
    width: auto

    span:after
      font-size:      20px
      content:        "★"
      vertical-align: 2px

    span.rated:after
      color: $control-rated

  &.allow-rate .rate
    cursor: pointer

    span.selected:after
      color: $control-yellow

    &:hover span.rated:after
      color: $control-normal

    &:hover span.selected.rated:after
      color: $control-yellow

  .archive
    @extend .hover-control
    cursor: pointer

    &:after
      font-size: 26px
      content:   "✔"

    &:hover:after
      color: $control-green

  .restore
    @extend .hover-control
    cursor: pointer

    &:after
      font-size: 36px
      content:   "⤾"
      position:  relative
      top:       -8px

    &:hover:after
      color: $control-green

  .delete
    @extend .hover-control
    cursor: pointer
    width:  30px

    &:after
      font-size: 26px
      content:   "✕"

    &:hover:after
      color: $control-red

  .add
    @extend .control
    cursor: pointer

    &:after
      font-size: 26px
      content:   "+"
      position:  relative
      top:       -2px

    &:hover:after
      color: $control-green

.album-search-list
  .album.highlight
    cursor: pointer

  .new-album
    border: none

    label
      display:   block
      color:     #888
      font-size: 14px
      margin:    8px 0

    input, button
      font-size: 18px

    input
      width: 200px

    button
      margin: 0

.friend-list
  @extend .ui-list

  li.not-signed-in
    color: #888

    a
      color: $primary

.friend
  @extend .ui-list-item

  padding: 8px 4px
  cursor: pointer

  img
    float: left
    margin-right: 8px

  .info
    overflow: hidden

    .name
      @extend .primary
      margin-bottom: 4px

    .nickname
      @extend .secondary

