@import _colors
@import _mixins

*, input
  font-family: helvetica, sans-serif

body
  margin: 0
  -webkit-text-size-adjust: 100%

$header-height: 86px
$footer-height: 96px

.header
  height: $header-height
  border-bottom: 2px solid $dark
  +vertical-gradient($light, $primary)

  &:after
    content:         "nnnnext"
    display:         block
    padding-top:     20px
    text-align:      center
    text-decoration: none
    text-shadow:     0px -2px 0px transparentize($dark, 0.5)
    font-size:       40px
    font-weight:     bold
    color:           white

.navigation
  position:   absolute
  left:       0
  bottom:     0
  width:      100%
  height:     $footer-height
  border-top: 2px solid #111
  background-image: -webkit-gradient(linear, left top, left bottom, from(#575757), color-stop(0.05, #323232), color-stop(0.5, #151515), color-stop(0.51, black), to(black))
  display:    table
  border-spacing: 4px

  .inner
    display: table-row

  a
    display:         table-cell
    vertical-align:  middle
    text-align:      center
    text-decoration: none
    color:           white
    font-size:       20px
    font-weight:     bold

    &.active
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), color-stop(0.5, #363636), color-stop(0.51, #252525), to(#252525))
      +border-radius(6px)

#scroll-wrapper
  position: absolute
  top:      $header-height
  bottom:   $footer-height
  left:     0
  right:    0

.album-search-bar
  +vertical-gradient($lightest, $lighter)
  border-bottom: 1px solid $light
  padding: 14px 20px

  .inner
    $height: 60px

    height: $height
    padding: 0 $height*1 0 $height*0.25
    background: white
    +border-radius($height*0.7)
    +box-shadow(inset 0px $height/8 $height/4 rgba(0,0,0,0.35))

  input
    width: 100%
    margin-top: 6px
    font-size: 30px
    border: none
    background: none
    -webkit-appearance: none

  button
    display: none

.album-list
  margin: 0
  padding: 0

  li
    padding: 20px
    border-bottom: 1px solid #ccc

    .title
      font-size: 36px
      font-weight: bold

    .artist
      font-size: 30px
      color: #666

